<h3>Relative Dates</h3>
<ws-relative-date [date]="getDate(-14)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(-7)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(-1)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(0)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(1)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(7)" [format]="dateFormat"></ws-relative-date>
<br />
<ws-relative-date [date]="getDate(14)" [format]="dateFormat"></ws-relative-date>
