<h3>Relative Dates</h3>
<div>{{ getDate(-14) | relativeDate: 'HH:mm, d MMM y' }}, alternate: {{ getDate(-14) | relativeDate: 'HH:mm, d MMM y': 'en':  alternateProc}}</div>
<div>{{ getDate(-7) | relativeDate: 'HH:mm, d MMM y' }}</div>
<div>{{ getDate(-1) | relativeDate: 'HH:mm, d MMM y' }}</div>
<div>{{ getDate(0) | relativeDate: 'HH:mm, d MMM y' }}</div>
<div>{{ getDate(1) | relativeDate: 'HH:mm, d MMM y' }}</div>
<div>{{ getDate(7) | relativeDate: 'HH:mm, d MMM y' }}</div>
<div>{{ getDate(14) | relativeDate: 'HH:mm, d MMM y' }}</div>