<ng-select
  [wsSelect]
  valueReader="x"
  [labelReader]="r"
  (change)="onOriginalChange($event)"
  (wsChange)="onChange($event)"
  [items]="items"
></ng-select>

<ng-select
  [wsSelect]
  valueReader="x"
  labelReader="y.a"
  (change)="onOriginalChange($event)"
  (wsChange)="onChange($event)"
  [items]="items"
></ng-select>

<ng-select
  [wsSelect]
  valueReader="x"
  [labelReader]="['y', 'a']"
  (change)="onOriginalChange($event)"
  (wsChange)="onChange($event)"
  [items]="items"
></ng-select>

<ng-select
  [wsSelect]
  valueReader="x"
  [labelReader]="labelReader"
  (change)="onOriginalChange($event)"
  (wsChange)="onChange($event)"
  [items]="items"
></ng-select>

<ng-select
  [wsSelect]="['x', 'y.a']"
  (change)="onOriginalChange($event)"
  (wsChange)="onChange($event)"
  [items]="items"
></ng-select>
