<ng-template #test>
  Template Test
</ng-template>

<p>home works!</p>

<h3>Poll</h3>
<!-- <ws-poll-result-graph [poll]="poll" [results]="results"></ws-poll-result-graph> -->
<!-- <ws-standard-poll *ngIf="poll && voted" [poll]="poll" [voted]="voted" [initialSelection]="selected" (optionSelected)="optionSelected($event)"></ws-standard-poll> -->
<ws-vote-control
  [showEditButton]="true" [showExtendButton]="true" [showResetButton]="true" [showDeleteButton]="true"
  [poll]="poll" [results]="results" [voted]="voted"
  [beforeOptionsTemplate]="test"
  [afterOptionsTemplate]="test"
  [beforeResultTemplate]="test"
  [afterResultTemplate]="test"
  (viewChange)="viewChange($event)" (voteSelected)="voteSelected($event)" (voteRemoved)="voteRemoved($event)"
  (edit)="edit($event)" (reset)="reset($event)" (delete)="delete($event)">
</ws-vote-control>
