

    <header>
      <ws-header
      [appName]="'Tester'"
      [isLoggedIn]="isLoggedIn"
      [showLoginAndLogoutButtons]="true"
      [menuItems]="menuItems"
      [currentUser]="currentUser"
      (loginClick)="login()"
      (logoutClick)="logout()"
    ></ws-header>
    </header>

    <ws-puppeteer-banner [currentUser]="currentUser"></ws-puppeteer-banner>
    <ws-staging-banner></ws-staging-banner>


    <section class="ws-hero ws-hero-image " style="background-image: url(https://preview.worldskills.org/application/files/thumbnails/large/4015/3251/4399/champions-trust-header.jpg)">
      <h1 class="ws-hero-title">News</h1>
      <div class="ws-hero-desc">
        <p>WorldSkills Competitions are the gold standard of skills excellence. They inspire young Competitors to reach new heights, helping them turn their passion into a profession.</p>
      </div>
    </section>
    <div class="container">
      <ws-breadcrumbs [showHomeItem]="showHomeItem" [homeItemText]="'Home'" [homeItemRoute]="defaultRoute"></ws-breadcrumbs>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <div class="container">
      <h3>Date Time Picker</h3>
      <ws-datetime-picker [(ngModel)]="dateTime" (change)="dateTimeChange($event)"></ws-datetime-picker>
    </div>

    <div class="container">
      <h3>Date Range Test</h3>
      <ws-date-range [(ngModel)]="dateRange" (change)="rangeSelected($event)"></ws-date-range>
    </div>

    <div class="container">
      <h3>User List Test</h3>
      <div>
        <input type="number" [(ngModel)]="userAppCode" placeholder="App Code">&nbsp;
        <input type="number" [(ngModel)]="entityId" placeholder="Entity ID">&nbsp;
        <button class="btn btn-primary" (click)="loadUserList()">Load User List</button>
        <br />
        {{ userList | json }}
      </div>
    </div>

<ng-template #override5>
  <h1>Social</h1>
  <ul>
    <li><a href="https://www.facebook.com/WorldSkills" target="_blank"><i class="fa fa-facebook-official mr-3"></i>Facebook</a></li>
    <li><a href="https://twitter.com/WorldSkills" target="_blank"><i class="fa fa-twitter mr-3"></i>Twitter</a></li>
    <li><a href="https://www.youtube.com/user/WorldSkillsTV" target="_blank"><i class="fa fa-youtube-play mr-3"></i>YouTube</a></li>
    <li><a href="https://www.flickr.com/photos/worldskills/collections/" target="_blank"><i class="fa fa-flickr mr-3"></i>Flickr</a></li>
    <li><a href="http://instagram.com/worldskills/" target="_blank"><i class="fa fa-instagram mr-3"></i>Instagram</a></li>
  </ul>
</ng-template>
<ws-footer
  [currentUser]="currentUser"
  [isLoggedIn]="isLoggedIn"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [col5Template]="override5">
</ws-footer>

