

    <header>
      <ws-header
      [appName]="'Tester'"
      [isLoggedIn]="isLoggedIn"
      [showLoginAndLogoutButtons]="true"
      [menuItems]="menuItems"
      [currentUser]="currentUser"
      (loginClick)="login()"
      (logoutClick)="logout()"
    ></ws-header>
    </header>



    <section class="ws-hero ws-hero-image " style="background-image: url(https://preview.worldskills.org/application/files/thumbnails/large/4015/3251/4399/champions-trust-header.jpg)">
      <h1 class="ws-hero-title">News</h1>
      <div class="ws-hero-desc">
        <p>WorldSkills Competitions are the gold standard of skills excellence. They inspire young Competitors to reach new heights, helping them turn their passion into a profession.</p>
      </div>
    </section>
    <div class="container">
      <ws-breadcrumbs [showHomeItem]="showHomeItem" [homeItemText]="'Home'" [homeItemRoute]="defaultRoute"></ws-breadcrumbs>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- <div class="container">
      Content here

      <h3>Relative date test</h3>
      <div *ngFor="let dt of dates">
        <span>{{ dt | relativeDate }}</span>
      </div>


    </div> -->
<ws-footer>
  <div left>
      <ul class="list-inline">
        <li class="list-inline-item mb-0">&copy; 2019 <a href="https://www.worldskills.org/" target="_blank">WorldSkills International</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/privacy/" target="_blank">Privacy</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/terms/" target="_blank">Terms</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/contact/" target="_blank">Contact</a></li>
      </ul>
  </div>
  <div right style="float:right">
    <ws-logo mode="fancy"></ws-logo>
  </div>
</ws-footer>
