
    <header>
      <wsi-header
      [appName]="Tester"
      [isLoggedIn]="isLoggedIn"
      [showLoginAndLogoutButtons]="true"
      [menuItems]="menuItems"
      [currentUser]="currentUser"
      (loginClick)="login()"
      (logoutClick)="logout()"
    ></wsi-header>
    </header>

    <section class="ws-hero ws-hero-image " style="background-image: url(https://preview.worldskills.org/application/files/thumbnails/large/4015/3251/4399/champions-trust-header.jpg)">
      <h1 class="ws-hero-title">News</h1>
      <div class="ws-hero-desc">
        <p>WorldSkills Competitions are the gold standard of skills excellence. They inspire young Competitors to reach new heights, helping them turn their passion into a profession.</p>
      </div>
    </section>

    <div class="container">
      <wsi-breadcrumbs showHomeItem="true" homeItemText="Home" homeItemRoute="/"></wsi-breadcrumbs>
    </div>

    <div class="container">
      <wsi-content>
        <div main>
          <wsi-modal
            [name]="'sample-modal'"
            [title]="'Sample Modal'"
            [showCloseButton]="true"
            [showSaveButton]="true"
            [closeModalOnSave]="true"
            (saveFn)="saveFn()">
          </wsi-modal>
          <button class="btn" data-toggle="modal" data-target="#sample-modal">
              <i class="fa fa-plus" style="color:green"> Create Modal Test</i>
          </button>
        </div>
        <div side>Side</div>
      </wsi-content>
    </div>
<wsi-footer>
  <div left>
      <ul class="list-inline">
        <li class="list-inline-item mb-0">&copy; 2019 <a href="https://www.worldskills.org/" target="_blank">WorldSkills International</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/privacy/" target="_blank">Privacy</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/terms/" target="_blank">Terms</a></li>
        <li class="list-inline-item mb-0"><a href="https://www.worldskills.org/site/contact/" target="_blank">Contact</a></li>
      </ul>
  </div>
  <div right style="float:right">
    <wsi-logo mode="fancy"></wsi-logo>
  </div>
</wsi-footer>
