<!-- The data for all the 4 entity selects below is loaded through the first entitySelect -->
<!-- Therefor the query object definition in the second select has NO effect -->
<!-- If that query object was however in the first select, all tree selectors would show only children of entity id 2 -->
<ws-entity-tree-select
  [entities]="this.entities1"
>
</ws-entity-tree-select>
<ws-entity-tree-select
  [entities]="this.entities2"
  [refreshMode]="EntityTreeSelectRefreshMode.NEVER"
  [query]="{member_of: 2}"
>
</ws-entity-tree-select>
<ws-entity-tree-select
  [entities]="this.entities3"
  [refreshMode]="EntityTreeSelectRefreshMode.NEVER"
>
</ws-entity-tree-select>
<ws-entity-tree-select
  [entities]="this.entities4"
  [refreshMode]="EntityTreeSelectRefreshMode.NEVER"
>
</ws-entity-tree-select>
